body {
    font-family: Arial, sans-serif;
    background-color: rgb(221, 217, 217);
  }
  
  h1 {
    text-align: center;
  }
  
  h2 {
    color: rgb(51, 73, 153);
    text-align: center;
  }
  
  table {
    border: 3px solid rgb(65, 50, 204);
    width: 650px;
    margin: 0 auto;
  }
  
  thead {
    background-color: rgb(160, 202, 221);
  }
  
  td {
    border-top: 1px solid rgb(50, 58, 204);
    border-left: 1px solid rgb(50, 58, 204);;
    text-align: center;
  }
  
